/* Importamos la tipografia roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Colores de la web */
:root{
    --primary-color: black;
    --secondary-color: #f0f0f0;
    --tertiary-color: yellow;
    --panel-bg: antiquewhite;

    --primary-text-color: black;
    --secondary-text-color: #f0f0f0;
}

/* Estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}

li{
    list-style: none;
}

hr{
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Header */
header {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}


header ul{
    display: flex;
}

header li{
    padding: 1em;
    gap: 1em;    
}

header li a{
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

header li a:hover{
    color: var(--tertiary-color);
}

/* Cuerpo de la pagina */
main {
    line-height: 2em;    
    padding: 1em;
}

/* Cremos un contenedor para el grid de 4 paneles */
.row{    
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 1em;
    grid-gap: 10px;
    width: 100%;
}

/* Establecemos los tamaños de los 4 paneles */
.one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.two {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
}

.three {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

.four {
    grid-column: 2 / 2;
    grid-row: 2/ 2;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 1em;
    bottom: 0;
    width:100%;    
}

footer a{
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

footer a:hover{
    color: var(--tertiary-color);
}

footer ul {
    display: flex;
    width: 100%;
    gap: 1em;
    justify-content: center;
}

/* lista bonita */
.list_of_me{
    padding: 1em;
    box-sizing: border-box;
    background-color: var(--panel-bg);
    border-radius: 1em;
}

/* Pagina 2 contacto */
.contacto{
    padding: 1em;
    box-sizing: border-box;
    background-color: var(--panel-bg);
    border-radius: 1em;
}

.contacto input, .contacto textarea{
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    border: 0px;
    box-shadow: 5px 5px 5px black;
    font-size: 1em;
}

.contacto input:valid{
    box-shadow: 5px 5px 5px green;
}

.contacto input:invalid{
    box-shadow: 5px 5px 5px red;
}

/* Estilos distintos para el btn */
.contacto input[type="submit"]{
    box-shadow: none;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    cursor: pointer;
}

.contacto input[type="submit"]:hover{
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}

.container{    
    max-width: 900px;
    margin: 0 auto;
}

@media (max-width: 425px){
    .row{
        display: block;            
    }

    .row article{
        padding-bottom: 1em;
    }
}